<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />


    @RenderSection("Header", false)
</head>
<body>

    <div class="navigation">
        <div>
            <a class="nav-item" asp-controller="Home" asp-action="Index">
                <b>Q & A</b>
            </a>
        </div>
        <form asp-controller="Home" asp-action="Search" method="post">
            <input class="search" name="Search" id="Search" type="text" placeholder="Search" />
        </form>
        @if (this.User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="SignOut" class="btn-signin nav-item"> <i class="fas fa-user-secret"></i> Sign out (@User.Identity.Name)</a>

        }
        else
        {
            <a asp-controller="Account" asp-action="SignIn" class="btn-signin nav-item"> <i class="fas fa-user-secret"></i> Sign In</a>

        }
    </div>
    <div>
        <br>
        <br>

    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>